body{
  background-color: #323232;
}

.map-background{
  background-color: #f4f4f4;
  position: absolute;
  display: inline-block;
  width: 1500px;
  margin-left: 40px;
  height: 92vh;
  margin-top: 40px;
}

.red{
  fill: red;
}

.map-reg{
  position: absolute;
}

.FI-01{
  width: 1200px;
  color: #323232;
  z-index: 1;
}

.FI-02{

}

.FI-03{

}

.FI-04{

}

.FI-05{

}

.FI-06{

}

.FI-07{

}

.FI-08{

}

.FI-09{

}

.FI-10{

}

.FI-11{

}

.FI-12{

}

.FI-13{

}

.FI-14{

}

.FI-15{

}

.FI-16{

}

.FI-17{

}

.FI-18{

}

.FI-19 {

}