body {
    background-color: #323232;
}

.map-background {
    background-color: #f4f4f4;
    display: block;
    float: left;
    width: 76%;
    margin-left: 2%;
    height: 100%;
    text-align: center;
}

.map-full {
    margin-top: 2%;
    height: 92%;
    width: 92%;
    padding-right: 2%;
}

.map{
    margin-top: 2%;
    height: 92vh;
}

.red {
    fill: red;
}

.yellow {
    fill: yellow;
}

.blue {
    fill: blue;
}

.black {
    fill: black;
}

.cls-1 {
    stroke: #fff;
    stroke-width: 2px;
}

.grey {
    fill: #ccc;
}



.progress-background{
    background-color: #f4f4f4;
    float: right;
    display: block;
    margin-right: 2%;
    width: 18%;
    height: 40%;
    padding-bottom: 1%;
}

.progress_state-name{
    float: left;
    display: block;
    margin-bottom: 5%;
    font-size: 2.5vh;
}

.progress_state-votes{
    margin-right: 7%;
    display: block;
    margin-bottom: 5%;
    float: right;
    font-size: 2.5vh;
}

.progress{
    display: inline-block;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 90%;
}

.task-background {
    margin-top: 8.4%;
    background-color: #f4f4f4;
    display: block;
    float: right;
    margin-right: 2%;
    width: 18%;
    height: 40%;
}

.task_state-name {
    margin: 3% 5% 0;
    font-size: 2.5vh;
}

.task_task{
    margin: 3% 5% 0;
    font-size: 1.5vh;
}

.resourcesDisplay_background{
    background-color: #f4f4f4;
    display: block;
    float: left;
    width: 22.5%;
    height: 92vh;
    margin-left: 2%;
    margin-bottom: 2%;
}

.resourcesDisplay_state-name{
    margin: 3% 5% 0;
    font-size: 2.5vh;
}

.resourcesDisplay_resources{
    margin: 3% 5% 0;
    font-size: 1.5vh;
}

.resources{
    margin-top: 2.5%;
}

.hidden{
    visibility: hidden;
}
