body {
    background-color: #323232;
}

.map-background {
    background-color: #f4f4f4;
    display: block;
    float: left;
    width: 76%;
    margin-left: 2%;
    height: 100%;
    text-align: center;
}

.map-full {
    margin-top: 2%;
    height: 92%;
    width: 92%;
    padding-right: 2%;
}

.map {
    margin-top: 2%;
    height: 92vh;
}

.red {
    fill: #FF0000;
}

.yellow {
    fill: #FFFF66;
}

.blue {
    fill: #0000CC;
}

.black {
    fill: #333333;
}

.cls-1 {
    stroke: #fff;
    stroke-width: 2px;
}

.grey {
    fill: #ccc;
}


.progress-background {
    background-color: #f4f4f4;
    float: right;
    display: block;
    margin-right: 2%;
    width: 18%;
    height: 40%;
    padding-bottom: 1%;
}

.progress_state-name {
    float: left;
    display: block;
    margin-bottom: 5%;
    font-size: 2.5vh;
}

.progress_state-votes {
    margin-right: 7%;
    display: block;
    margin-bottom: 5%;
    float: right;
    font-size: 2.5vh;
}

.progress {
    display: inline-block;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 90%;
}

.task-background {
    background-color: #f4f4f4;
    display: block;
    float: right;
    margin-right: 2%;
    width: 18%;
    height: 40%;
}

.task_state-name {
    margin: 3% 5% 0;
    font-size: 2.5vh;
}

.task_task {
    margin: 3% 5% 0;
    font-size: 1.5vh;
}

.changers-background {
    background-color: #f4f4f4;
    display: block;
    float: right;
    margin-right: 2%;
    width: 18%;
    height: 18%;
}

.changers_change-button {
    background-color: #323232;
    display: block;
    float: left;
    width: 44%;
    height: 50%;
    margin-left: 4%;
    margin-top: 10%;
    color: #f4f4f4;
    text-align: center;
    font-size: 2vh;
}

.changers_button-text {
    margin-top: 16.5%;
}

.resourcesDisplay_background {
    background-color: #f4f4f4;
    display: block;
    float: left;
    width: 22.5%;
    height: 92vh;
    margin-left: 2%;
    margin-bottom: 2%;
}

.resourcesDisplay_state-name {
    margin: 3% 5% 0;
    font-size: 2.5vh;
}

.resourcesDisplay_resources {
    margin: 3% 5% 0;
    font-size: 2vh;
}

.blacked {
    opacity: 0.75;
}

.resources {
    margin-top: 2.5%;
}

.hidden {
    visibility: hidden;
}


.login-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-size: cover;
    z-index: 1000000000;
}

.login-wrapper > p {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

.login-wrapper__content {
    width: 840px;
    height: 519px;
    background-color: white;
    align-self: center;
    margin: auto;
    border-radius: 25px;
    display: flex;
    position: relative;
    z-index: 10000;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

}

.login-wrapper__content__left-section {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}

.login-wrapper__content__right-section {
    width: 50%;
    height: 100%;
    background-color: var(--cpink);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.left-svg {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    right: 0;
}

.right-svg {
    position: absolute;
    z-index: 10000;
}

.login-wrapper__content__right-section__login-content {
    width: 270px;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    align-self: center;
}

.login-wrapper__content__right-section__login-content__title {
    font-size: 36px;
    font-weight: bold;
}

.login-wrapper__content__right-section__login-content__under-title {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 30px;
}

.login-wrapper__content__right-section__login-content__under-title span {
    color: #323232;
}

.login-wrapper__content__right-section__login-content__forgot-password {
    margin-top: 16px;
}

.login-wrapper__content__right-section__login-content__button {
    width: 191px;
    height: 42px;
    border-radius: 12px;
    background-color: #323232;
    display: flex;
    position: relative;
    margin-top: 16px;

}

.login-wrapper__content__right-section__login-content__button p {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.login-wrapper__content__right-section__login-content__button img {
    bottom: 12px;
    right: 20px;
    position: absolute;
}

.login-wrapper__content__right-section__login-content__forgot-password a {
    color: var(--cblack);
    opacity: .65;

}

.another-margin {
    margin-top: 20px;
}

.input-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 2px solid var(--cblack);
    background: transparent;
    width: 70%;
    font-size: 12px;
    transition: all 0.5s ease-in-out;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--cred);
    transition: all 0.5s ease-in-out;
}

.input-container input:focus ~ label {
    top: -12px;
    font-size: 12px;

}

.login-wrapper__content__left-section__content {
    width: 240px;
    height: 400px;
    margin: 120px auto;
}

.login-wrapper__content__left-section__content__title p {
    font-size: 36px;
    color: white;
    margin-bottom: 5px;
}

.login-wrapper__content__left-section__content__under-title p {
    font-size: 18px;
    color: white;
    text-align: center;
}

.login-wrapper__content__left-section__content__under-title span {
    color: #E84A5F;
}

.login-wrapper__content__left-section__content__button {
    width: 185px;
    height: 36px;
    border-radius: 12px;
    border: 3px solid white;
    display: flex;
    position: relative;
    margin-top: 16px;
    margin-left: 20px;
}

.login-wrapper__content__left-section__content__button p {
    color: white;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 20px;
    display: inline-block;
}

.login-wrapper__content__left-section__content__button img {
    bottom: 9px;
    right: 20px;
    position: absolute;
}

.registration-wrapper > p {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

.registration-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-size: cover;
    z-index: -10000;

}

.registration-wrapper__content {
    width: 840px;
    height: 519px;
    background-color: white;
    align-self: center;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    position: relative;
    z-index: 10000;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.registration-wrapper__content__left-section {
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    background-color: var(--cpink);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.registration-wrapper__content__right-section {
    width: 55%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.left-svg {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    right: 0;
}

.right-svg {
    position: absolute;
    z-index: 10000;
}

.input-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 2px solid var(--cblack);
    background: transparent;
    width: 70%;

    font-size: 12px;
    transition: all 0.5s ease-in-out;


}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--cred);
    transition: all 0.5s ease-in-out;
}

.input-container input:focus ~ label {
    top: -12px;
    font-size: 12px;

}

.registration-wrapper__content__right-section__registration-content {
    width: 270px;
    height: 400px;
    margin: 135px auto;
}

.registration-wrapper__content__right-section__registration-content__title p {
    font-size: 36px;
    font-weight: bold;
}

.login-wrapper__content__right-section__registration-content__button {
    width: 195px;
    height: 42px;
    border-radius: 12px;
    background-color: #323232;
    display: flex;
    position: relative;
    margin-top: 30px;

}

.login-wrapper__content__right-section__registration-content__button p {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.login-wrapper__content__right-section__registration-content__button img {
    bottom: 12px;
    right: 20px;
    position: absolute;
}

.registration-wrapper__content__right-section__registration-content__under-title p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.registration-wrapper__content__right-section__registration-content__under-title span {
    color: var(--cred);
}

.registration-wrapper__content__left-section__login-content {
    width: 240px;
    height: 400px;
    margin: 130px auto;
}

.registration-wrapper__content__left-section__login-content__title p {
    font-size: 36px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.registration-wrapper__content__left-section__login-content__under-title p {
    font-size: 18px;
    color: white;
    text-align: center;
}

.registration-wrapper__content__left-section__login-content__under-title span {
    color: #E84A5F;
}

.registration-wrapper__content__left-section__login-content__button {
    width: 185px;
    height: 36px;
    border-radius: 12px;
    border: 3px solid white;
    display: flex;
    position: relative;
    margin-top: 24px;
    margin-left: 20px;
}

.registration-wrapper__content__left-section__login-content__button p {
    color: white;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 20px;
    display: inline-block;
}

.registration-wrapper__content__left-section__login-content__button img {
    bottom: 9px;
    right: 20px;
    position: absolute;

}